<div class="header pb-8 pt-5 pt-md-8" style="background-color: #87CEEB; padding-top: 5rem; padding-bottom: 5rem;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 d-flex justify-content-between align-items-center">
          <h3 class="mb-0">List Projets</h3>
          <button type="button" class="btn btn-outline-info" [routerLink]="['/projet']">
            <div>
              <i class="ni ni-fat-add"></i>
              <span></span>
            </div>
          </button>
          
          
        </div> 
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Ref Projet</th>
                <th scope="col">Intitulé</th>
                <th scope="col">Date Debut</th>
                <th scope="col">Date Fin </th>
                
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of projetTab">
                <td>{{ p.projetRef }}</td>
                <td style="font-weight: bold;" (click)="displayProjet(p.id)">{{ p.intituly }}</td>
                <td>{{ p.dateDebut }}</td>
                <td>{{ p.dateFin }}</td>
                
                <td>
                  <!-- <button
                    type="button"
                    class="btn btn-success"
                    (click)="displayProjet(p.id)"
                  >
                    Display
                  </button> -->
                  
                  <button type="button" class="btn btn-outline-info" (click)="editProjet(p.id)">
                    <div>
                      <i class="ni ni-bold-up"></i>
                      <span></span>
                    </div>
                  </button>
                  
                  <button type="button" class="btn btn-outline-danger" (click)="deleteProjet(p.id)">
                    <div>
                      <i class="ni ni-bag-17"></i>
                      <span></span>
                    </div>
                  </button>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Dark table -->
 
</div>
